<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="cssfiles/login.css">
</head>
<body>
    <h3>Login:</h3>
    <div class="form">
        <form action="/login" method="post">
            <label>Email:</label> <br>
            <input type="email" name="email"> <br> <br>
            <label>Password:</label> <br>
            <input type="password" name="password"> <br><br>
            <div class="but">
                <button class="buton" type="submit" name="butt" value="home">Home</button>
                <button class="buton" type="submit" name="butt" value="login">Login</button>
            </div>
        </form>
    </div>
</body>
</html>