<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="cssfiles/page1.css">
</head>

<body>
    <h2>Login/Signup</h2>
    <div class="form">
        <form action="/" method="post">
            <label>Click below for </label><br><br>
            <label>Signup or Login: </label><br><br>
            <div class="but">
                <button class="buton" type="submit" name="butt" value="Login">Login</button>
                <button class="buton" type="submit" name="butt" value="Signup">Signup</button>
            </div>
    </div>
    </form>
</body>

</html>